slurm/*
experiments/*
batch_files/*
classification/.ipynb_checkpoints/*
classification/.svn/*
classification/*.ipynb
classification/__pycache__/*
instance_segmentation/experiments/*
.ipynb_checkpoints/*
